body {
    font-family: Arial;
    margin: 40px;
}

table {
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background-color: #f4f4f4;
}

table tr:hover {
    background-color: #f1f1f1;
}